@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Montez);

body {
   background : #eeece7;
}

h1 {
   font : 54px/1 'Montez';
   color : #ffff00;
}

h1+p {
   margin-bottom: 3.5em;
}

p {
   font: 14px/1 Verdana;
   color: #ffffff
}

::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

*{
  box-sizing:border-box;
}

.wrap {width:960px; margin:0 auto}

#page-wrap {
   height:300px;
   margin: 30px auto;
   padding:3em;
   background-image: url(/assets/images/sjk_home_bg.png);
   background-size: cover;
   background-repeat: no-repeat;
   box-shadow: 0px 0px 2px #62615f inset;
   -webkit-box-shadow: 0px 0px 2px #62615f inset;
   -moz-box-shadow: 0px 0px 2px #62615f inset;
   border-radius: 20px;
}

.dataS1{
  background-color:#5c9da3;
  border-radius:20px;
}

.dataS1>.dataBox {
    padding:5px;
}

.dataS1>.dataBox .data {
    display:inline-block;
    width:60px;
    height:60px;
    margin:5px;
    border-radius: 20px;
}

#onediv {
   background-image: url(/assets/images/befly_premium.png);
   background-size: cover;
    background-repeat: no-repeat;
}

#twodiv {
   background-image: url(/assets/images/befly_standard.png);
   background-size: cover;
    background-repeat: no-repeat;
}

#threediv {
   background-image: url(/assets/images/smarthome.png);
   background-size: cover;
    background-repeat: no-repeat;
}

#fourdiv {
   background-image: url(/assets/images/zeroone.png);
   background-size: cover;
    background-repeat: no-repeat;
}

#fivediv {
   background-image: url(/assets/images/hoppin.png);
   background-size: cover;
    background-repeat: no-repeat;
}

#sixdiv {
   background-image: url(/assets/images/ezclick.png);
   background-size: cover;
    background-repeat: no-repeat;
}

#sevendiv {
   background-image: url(/assets/images/sjk_home_bg.png);
   background-size: cover;
    background-repeat: no-repeat;
}

#eightdiv {
   background-image: url(/assets/images/sjk_home_bg.png);
   background-size: cover;
    background-repeat: no-repeat;
}

#ninediv {
   background-image: url(/assets/images/sjk_home_bg.png);
   background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width:512px) {
    .wrap {
        width:100%;
    }
    .dataS1{
        width:100%;
        height:80px;
        overflow:hidden;
    }

    .dataS1>.dataBox {
        white-space:nowrap;
        overflow-x:auto;
    }
}